/* font face with IE-9 support*/
@font-face {
  font-family: 'gotham-bold';
  src: url('../fonts/gothambold/gothambold1.eot');
	src: local('gotham-bold'), url('../fonts/gothambold/gothambold1.woff') format('woff');
}

@font-face {
  font-family: 'gotham-rounded-light';
  src: url('../fonts/Gotham-Rounded-Light/Gotham\ Rounded\ Light.eot');
	src: local('gotham-rounded-light'), url('../fonts/Gotham-Rounded-Light/Gotham\ Rounded\ Light.woff') format('woff'), url('../fonts/Gotham-Rounded-Light/Gotham\ Rounded\ Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Helvetica-Neue-Light';
  src: url('../fonts/Helvetica-Neue-Light/Helvetica\ Neue\ Light.eot');
  src: local('Helvetica Neue Light'), url('../fonts/Helvetica-Neue-Light/Helvetica\ Neue\ Light.woff') format('woff'), url('../fonts/Helvetica-Neue-Light/Helvetica\ Neue\ Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Helvetica-Neue-Medium';
  src: url('../fonts/Helvetica\ Neue\ Medium/Helvetica-Neue-Medium.eot');
  src: local('Helvetica Neue Medium'), url('../fonts/Helvetica\ Neue\ Medium/Helvetica-Neue-Medium.woff') format('woff'), url('../fonts/Helvetica\ Neue\ Medium/Helvetica-Neue-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Helvetica-Neue-Bold';
  src: url('../fonts/Helvetica-Neue-Bold/Helvetica\ Neue\ Bold.eot');
  src: local('Helvetica-Neue-Bold'), url('../fonts/Helvetica-Neue-Bold/Helvetica\ Neue\ Bold.woff') format('woff'), url('../fonts/Helvetica-Neue-Bold/Helvetica\ Neue\ Bold.woff2') format('woff2');
}

/* color variables */

:root {
  --cabaret: #D35266;
  --suvagray: #888888;
  --eclipse: #383838;
}

/* Default classes */

.border-1 {
  border: 2px dashed blue;
}

.main-bg {

}

/* Header rules */

.header {
  height: 50px;
  background-color: var(--eclipse);
}